<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "Radio Snack" }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">
        <img src="/images/logo.png">
        </a>
        <input type="checkbox" id="nav-toggle">
        <label for="nav-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://us17.campaign-archive.com/home/?u=ba0a970b8d0ce98df253de379&id=44959ac275">News</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/space/">Space & Membership</a></li>
        </ul>
    </nav>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <p>Contact us at hello@RadioSnack.ca</p>
        <p>Copyright &copy; 2025 Radio Snack</p>
    </footer>
</body>
</html>
