---
layout: base.njk
---
<style>
  main { max-width: 100%; }
  iframe {
    border: 0;
    width: 100%;
    height: 600px;
  }
  .cal-desktop { display: block; }
  .cal-mobile { display: none; }
  @media (max-width: 768px) {
    .cal-desktop { display: none; }
    .cal-mobile  { display: block; }
  }
</style>

<h1>{{ translations[page.lang].nav.calendar.label }}</h1>

<iframe
  class="cal-desktop"
  src="https://calendar.google.com/calendar/embed?src=fbe3c8aa05cb3a88d705f29590ffb2b97400bb26be805ecb902e75ee82893489%40group.calendar.google.com&ctz=America%2FToronto&hl={{ page.lang }}"
></iframe>

<iframe
  class="cal-mobile"
  src="https://calendar.google.com/calendar/embed?src=fbe3c8aa05cb3a88d705f29590ffb2b97400bb26be805ecb902e75ee82893489%40group.calendar.google.com&ctz=America%2FToronto&hl={{ page.lang }}&mode=AGENDA"
></iframe>
