<!DOCTYPE html>
<html lang="{{ page.lang or 'en' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creative Code Montreal 2026</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/creative-code-mtl-2026/style.css">
</head>
<body>
<nav>
<a href=".."> <span class="first"> Creative Code MTL </span>	<span class="second"> Oct 23, 24, 25 2026</span>
</a>
</nav>
<main class="event">
    <div class="description"> {{ content | safe }} </div>
    <div class="info">
        <h1>{{ title }}</h1>
        <p class="pink"> {{ type }} </p>
        <p class="green">{{day}} {{ time }}</p> 
        <p> <span class="green">@</span> {{ place }}</p>
        <p class="pink">w/ {{ person }}</p>
        <a href="{{ link }}">Sign up</a>
    </div>
</body>
</html>
